.advantages__item--color-blue {
  background-color: $color-blue;
  padding: 0 22px 0 16px;
}

.advantages__title-text {
  color: $color-white;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 11px;
  text-align: center;
}

.advantages__ordinal-number {
  color: $color-white;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 17px;
  text-align: center;
}

.advantages__text-item {
  color: $color-white;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 40px;
  text-align: center;
}

.advantages__item--block {
  padding-left: 65px;
}

.advantages__title {
  color: $color-black;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.advantages__text {
  color: $color-silver;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.advantages__item--color-silver {
  color: $color-silvere;
}

.advantages__title-subtitle {
  color: $color-black;
  font-weight: 700;
  font-size: 21px;
  line-height: 15px;
  text-transform: uppercase;
  padding: 0 22px 0 16px;
  margin-bottom: 11px;
  text-align: center;
}

.advantages__ordinal-number-item {
  color: $color-black;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  padding: 0 26px 0 16px;
  margin-bottom: 17px;
  text-align: center;
}

.advantages__text-subtitle {
  color: $color-black;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  padding: 0 16px 0 22px;
  margin-bottom: 24px;
  text-align: center;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
