.heading__title {
  color: $color-black;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 24px;
  text-align: center;
}

.heading__subtitle {
  color: $color-silver;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 28px;
  text-align: center;
}

