.main-footer__hashtag-hotels {
  color: $color-black;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 33.5px;
  margin-top: 28.5px;;
  text-align: center;
}
