.search__title {
  color: $color-black;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}

.search__text {
  color: $color-black;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 32px;
  text-align: center;
}

.search__link-hotel {
  background-color: $color-blue;
  width: 284px;
  height: 58px;
  padding: 16px 49.5px 16px 49.5px;
  text-align: center;
  color: $color-white;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 49px;
  margin-left: 19px;
}
